global_defs {
   router_id LVS_DEVEL
   script_security
   script_user root
   vrrp_skip_check_adv_addr
}

vrrp_script check_component {
   script "/usr/bin/check_ha.sh"
   interval 5
   timeout 4
   rise 2
   fall 2
   weight -30
}

vrrp_instance oml_aio {
   interface {{ ha_vip_nic }}
   virtual_router_id 51
   priority {% if ha_role == "main" %} 100 {% else %} 50 {% endif %}
   advert_int 1
   preempt_delay 10
   garp_master_delay 1
   garp_master_repeat 5
   garp_master_refresh 10
   garp_master_refresh_repeat 2

   authentication {
      auth_type PASS
      auth_pass 1111
   }

   virtual_ipaddress {
      {{ omnileads_vip }}
   }

   track_script {
      check_component
   }
   notify_master "/usr/bin/oml_cluster_transition.sh MASTER"
   notify_backup "/usr/bin/oml_cluster_transition.sh BACKUP"
   notify_fault  "/usr/bin/oml_cluster_transition.sh FAULT"
   notify_stop   "/usr/bin/oml_cluster_transition.sh BACKUP"
}
