ansible/CLAUDE.md
ansible/group_vars/all/vault.yml
ansible/instances
ansible/.inventory.yml
ansible/venv
ansible/.ci-venv/
ansible/.venv/
ansible/.ansible/
ansible/__pycache__/
ansible/*.py[cod]
ansible/*$py.class
ansible/collections/
ansible/*.retry
ansible/.ansible-lint

.DS_Store
.vscode/
.idea/

docker-compose/.custom_conf/
docker-compose/observability/.env
docker-compose/pstn-proxy/.env
docker-compose/.env
docker-compose/docker-compose.yml
docker-compose/CLAUDE.md

components-git-repo/custom_app/

.ci-omnileads/
.cache/
.cursor
.CLAUDE.md
