ansible/group_vars/all/vault.yml
ansible/instances
ansible/.inventory.yml
ansible/venv
ansible/.venv/
ansible/.ansible/
ansible/__pycache__/
ansible/*.py[cod]
ansible/*$py.class
ansible/collections/
ansible/*.retry
ansible/.ansible-lint

.DS_Store
.vscode/
.idea/

docker-compose/.custom_conf/
docker-compose/prod-env/oml_manage.sh
docker-compose/test-env/oml_manage.sh
docker-compose/dev-env/oml_manage.sh
docker-compose/dev-env/.env
docker-compose/prod-env/.env
docker-compose/test-env/.env
docker-compose/observability/.env
docker-compose/observability/.env
docker-compose/backend/.env

components-git-repo/custom_app/
