[submodule "components-git-repo/acd"]
	path = components-git-repo/acd
	url = https://gitlab.com/omnileads/omlacd.git
[submodule "components-git-repo/fastagi"]
	path = components-git-repo/fastagi
	url = https://gitlab.com/omnileads/omlfastagi.git
[submodule "components-git-repo/kamailio"]
	path = components-git-repo/kamailio
	url = https://gitlab.com/omnileads/omlkamailio.git
[submodule "components-git-repo/rtpengine"]
	path = components-git-repo/rtpengine
	url = https://gitlab.com/omnileads/omlrtpengine.git
[submodule "components-git-repo/django"]
	path = components-git-repo/django
	url = https://gitlab.com/omnileads/ominicontacto.git
[submodule "components-git-repo/dialer"]
	path = components-git-repo/dialer
	url = https://gitlab.com/omnileads/omnidialer.git
[submodule "components-git-repo/nginx"]
	path = components-git-repo/nginx
	url = https://gitlab.com/omnileads/omlnginx.git
[submodule "components-git-repo/websocket-server"]
	path = components-git-repo/websocket-server
	url = https://gitlab.com/omnileads/omnileads-websockets.git
[submodule "components-git-repo/postcall_actions"]
	path = components-git-repo/postcall_actions
	url = https://gitlab.com/omnileads/oml_interactions_processor.git
[submodule "omlqa"]
	path = components-git-repo/omlqa
	url = https://gitlab.com/omnileads/omlqa.git
[submodule "components-git-repo/omlutilities"]
	path = components-git-repo/omlutilities
	url = https://gitlab.com/omnileads/omlutilities
[submodule "components-git-repo/asterisk_builder"]
	path = components-git-repo/asterisk_builder
	url = https://gitlab.com/omnileads/asterisk_base_img
