[Unit]
Description=Podman Omnidialer API
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network.target 
Requires=network.target
RequiresMountsFor=%t/containers
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
RestartSec=10
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=omnidialer \
  -p 1440:1440 \
  --env-file=/etc/default/dialer.env \
  --name=dialer-flask-server \
  --rm  \
  {{ dialer_api_img }}
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=default.target