[Unit]
Description=Podman dialer-postgresql-server.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id

# Ensure proper Jinja2 condition handling
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --rm \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/dialer.env \
  --name=dialer-postgresql-server \
  --volume=dialer_postgres:/var/lib/postgresql/data \
  --volume=/etc/default/omnidialer.sql:/docker-entrypoint-initdb.d/init.sql \
  {{ postgres_img }} postgres -c listen_addresses={{ omni_ip_lan }} -p5433

ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
