[Unit]
Description=Podman dialer-process_contact.service Instancia %i
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
RestartSec=10
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/dialer-process-contact-%i.ctr-id
ExecStart=/usr/bin/podman run \
--cidfile=%t/dialer-process-contact-%i.ctr-id \
--cgroups=no-conmon \
--sdnotify=conmon \
--replace \
--detach \
--network=omnidialer \
--log-driver=journald \
-e GEARMAN_JOBS=process-contact \
--env-file=/etc/default/dialer.env \
--name=dialer-process-contact-%i \
--rm  \
{{ dialer_worker_img }}
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/dialer-process-contact-%i.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/dialer-process-contact-%i.ctr-id
Type=notify
NotifyAccess=all
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target