[Unit]
Description=Podman interaction_processosr.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target rabbitmq.service 
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStartSec=600
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
{% if callrec_transcriptions_engine == "gcp" %}  
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/interaction_processor.env \
  --name=oml-callrec-transcriber-server \
  --volume=asterisk_callrec:/var/spool/asterisk/monitor \
  --volume=/etc/omnileads/google_credential.json:/tmp/google_credential.json \
  --label tier=omlapp \
{{ callrec_transcriber_img }}
{% elif callrec_transcriptions_engine == "local" %}
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/interaction_processor.env \
  --name=oml-callrec-transcriber-server \
  --volume=asterisk_callrec:/var/spool/asterisk/monitor \
  --volume=faster_whisper_cache:/opt/models \
  --label tier=omlapp \
{{ callrec_transcriber_img }}
{% else %}
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/interaction_processor.env \
  --name=oml-callrec-transcriber-server \
  --volume=asterisk_callrec:/var/spool/asterisk/monitor \
  --label tier=omlapp \
{{ callrec_transcriber_img }}
{% endif %}
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
