[Unit]
Description=OMniLeads QA Nginx CGI container
Documentation=https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=oml-nginx_qa-server
Image={{ NGINX_QA_IMG }}
Pod=qa.pod
LogDriver=journald
EnvironmentFile=/etc/default/nginx_qa.env
Label=tier=qa
PodmanArgs=--cgroups=no-conmon

[Service]
Restart=on-failure
TimeoutStopSec=70
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
