[Unit]
Description=OMniLeads QA PSTN emulator container
Documentation=https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
Wants=network-online.target
After=network-online.target

[Container]
ContainerName={{ pstn_qa_container_name | default('oml-pstn-server') }}
Image={{ PSTN_EMULATOR_IMG }}
Pod=qa.pod
LogDriver=journald
EnvironmentFile=/etc/default/pstn.env
Label=tier=qa
PodmanArgs=--cgroups=no-conmon

[Service]
Restart=on-failure
TimeoutStopSec=70
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
