[Unit]
Description=OMniLeads Dialer Events Listener Worker
Documentation=https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=omlapp-dialer-worker
Image={{ APP_IMG }}
Pod=omlapp_workers.pod
EnvironmentFile=/etc/default/django.env
Environment=GOOGLE_MAPS_CENTER={{ google_maps_center }}
Label=tier=omlapp_workers
LogDriver=journald
PodmanArgs=--cgroups=no-conmon
Exec=python /opt/omnileads/ominicontacto/manage.py omnidialer_events_listener

[Service]
Restart=on-failure
RestartSec=60
TimeoutStopSec=70

[Install]
WantedBy=multi-user.target