[Unit]
Description=OMniLeads Dialer Schedule Agenda Worker
Documentation=https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Container]
ContainerName=dialer-scheduler
Image={{ DIALER_WORKER_IMG }}
Pod=dialer_workers.pod
EnvironmentFile=/etc/default/dialer.env
Environment=GEARMAN_JOBS=schedule-agenda
Label=tier=dialer
LogDriver=journald
PodmanArgs=--cgroups=no-conmon

[Service]
Restart=always
RestartSec=10
TimeoutStopSec=70
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target